/* Header */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(237, 236, 236);;
} 
main {
    width: 100%;
}
header {
    position: relative;
    height: 60vh;
}
header > div {
    display: flex;
    position: absolute; 
    left: 27%;
    bottom: 5%;
    padding-top: 70px;
    margin: 0;
    justify-content: center;
    align-items: end;
}

header img {
    width: 210px;
    box-shadow: 1px 1px 5px black;
    animation: appears 0.6s
}
.mePortrait + div::after {
    position: absolute;
    content: 'Yanis Badurov';
    font-family: "Rubik Glitch";
    color: rgb(255, 196, 0);
    left: 30px;
    bottom: 10px;
    font-size: 1.3rem;
    animation: appears 0.6s;
}

header .aboutMe {
  position: relative;
  max-width: 500px;
  bottom: 40px;
  background-color: rgb(237, 236, 236);
  padding: 10px;
  box-shadow: 1px 1px 5px black;
  font-family: "Roboto";
  animation: appears 0.3s;
  line-height: 1.5;
}
@keyframes appears {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px) translateY(0px);
        opacity: 1;
    }
}

header .aboutMe p {
    font-size: 1rem;
    color: rgb(60, 60, 60);
}
header .aboutMe h1 {
 font-family: "Rubik Microbe";
 text-align: center;
 margin: 0;
}

header::before {
	position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #5e1761;
    background: linear-gradient(58deg, #310000 0%,#780000 50%, #5e1761);
    transform: skewY(-8deg);
    transform-origin: top left;
}
.assets {
    display: flex;
    justify-content: end;
    gap: 5px;
}
.assets svg {
    width: 50px;
    border: none;
    background: none;
    outline: none;
    transition: transform 0.3s, opacity 0.3s;
}

.assets svg:hover,
svg:focus {
    cursor: pointer;
    transform: translateY(-5px);
    opacity: 0.7;
}
/*Body*/

.projectsSection {
  padding: 30px;
  padding-top: 80px;
}

.projectsSection > h2 {
    font-family: "Rubik Microbe";
    font-size: 3rem;
    margin: 0;
}

.projectsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 50px;
    padding: 30px;
}

.projectContainer {
    position: relative;
    background-color: rgb(237, 236, 236);
    width: 300px;
    min-height: 350px;
    box-shadow: 1px 1px 5px black;
    will-change: transform, box-shadow;
    transition: transform 1s, box-shadow 1s;
}
.projectContainer:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px black;
}

.projectContainer img {
    max-width: 300px;
}
.richi {
    display: block;
    max-height: 200px;
    margin: 0 auto;
}
.ticTac {
    width: 300px;
    height: 190px;
}

.projectNameDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.projectNameDiv .svgs {
    padding-bottom: 10px;
}
.projectNameDiv svg {
  width: 40px;
  transition: transform 0.3s, opacity 0.3s;
}
.projectNameDiv svg:hover, svg:focus {
    cursor: pointer;
    transform: translateY(-5px);
    opacity: 0.7;
}
.projectNameDiv a {
    width: min-content;
    height: min-content;
}

.projectName {
    margin-top: 5px;
    padding: 5px 0px 10px 20px;
    font-family: 'Roboto', 'Arial';
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.projectText {
    margin-top: 0;
    padding-left: 10px;
    color: rgb(60, 60, 60);
    font-family: 'Roboto', 'Arial';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(60, 60, 60);
  
}

/*footer*/
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50vh;
    background-color: #5e1761;
    background: linear-gradient(58deg, #310000 0%,#780000 50%, #5e1761);
}

.textFooter {
    font-size: 1.1rem;
    font-family: 'Roboto', 'Arial';
    color: white;
    padding: 0;
    margin-bottom: 0;
}
.textFooter h2 {
    margin-top: 0px;
}
.textFooter p {
    margin-bottom: 0;
}
.textFooter svg {
    fill: white;
    width: 30px;
}
.phone {
    display: flex;
    align-items: center;
    gap: 10px;
}
.phone p {
    padding-bottom: 15px;
}
.mail {
    display: flex;
    gap: 10px;    
}
.mail p {
    padding-bottom: 15px;
}
.portraitGirl {
    display: block;
    box-sizing: border-box;
    object-fit: contain;
    height: 360px;
    margin: 20px 0px 20px 0px;
    box-shadow: 2px 2px 10px black;
}

@media (min-width: 570px) and (max-width: 1100px) {
  header::before {
    z-index: -2;
  }
  .mePortrait {
    position: relative;
    right: 20px;
  }
  .aboutMe {
    top: 0;
    right: 20px;
    max-width: 200px;
    z-index: -1;
  }

  .aboutMe p {
    display: inline-block;
    position: relative;
    text-align: justify;

  }
  .aboutMe p span {
    padding-left: 10px;
  }
  header > div {
    left: 1%;
}
}

@media (max-width: 569px) {
    /*Header for mobile*/
    header > div {
        position: relative;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        left: 0;
        top: 30vh;
    }
    .mePortrait + div::after {
        position: absolute;
        content: 'Yanis Badurov';
        font-family: "Rubik Glitch";
        color: rgb(255, 196, 0);
        left: 30%;
        bottom: 270px;
        font-size: 1.3rem;
        animation: appears 0.6s;
    }
    header .aboutMe {
        box-shadow: none;
        border: none;
        padding-left: 30px;
    }

    .assets {
        justify-content: center;
    }
     /*body for mobile*/
    .projectsSection {
     position: relative;
     padding: 0;
     top: 70vh
}
 .projectsContainer {
    padding: 1px;
 }

  .projectsSection > h2 {
        text-align: center;
        padding-bottom: 20px;
 }
  footer {
    position: relative;
    flex-direction: column;
    top: 80vh;
    padding: 30px;
    
  }
  .portraitGirl {
    max-width: 70%;
    height: min-content;
}


}

@media (max-width: 380px) {
    /* body for mobile */
    .projectsSection {
        top: 90vh;
   }
   footer {
    top: 100vh;
   }
}